/* 
    Document   : style_crs.css
    Created on : 22/05/2013, 10:33:01
    Author     : cezar
    Description:
        Purpose of the stylesheet follows.
*/

body{
    width: 100%;
    height: 85%;
    overflow: auto;
    font-size: 80%; 
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

/****************************************
    Ajustar tamanho das classes de mensagens dos formulários
*/



/*
    ##TOOLTIP
*/

.ui-tooltip{
    background: rgba(255,255,230,0.9);
    border:1px solid rgba(255,218,140,0.8);
    -webkit-border-radius: 2px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 2px;
    -moz-border-radius-topleft: 0;
    border-radius: 2px;
    border-top-left-radius: 0;
    box-shadow:1px 1px 2px rgba(0,0,0,0.15);
    color:#996600;
    display: none;
    font-size: 10px;
    line-height: 16px;
    position:absolute;
    width:230px;
    z-index:800;
}

.arrow{
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 0px;
}

.arrow.top{
    top: -16px;
    bottom: auto;
}

.arrow.left{
    left:10%;
}

.arrow:after{
    content:"";
    position: absolute;
    left: 0px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -o-tranform: rotate(110deg);
    transform: rotate (110deg);
}

.arrow.top:after{
    bottom: -20px;
    top: auto;
}

/*
    ##Busca
*/

#submitBusca{
    margin-left: 15px;
}

/*
    Formulários
*/
form fieldset{
    margin-top: 10px;
}

/*
    Titulos
*/
h2{
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}



/*
   form
*/

form{
    margin-left: 10px;
}

.clearfix{
    margin-left: 10px;
    margin-bottom: 10px;
}



/*
    MENUS E CABEÇALHOS
*/

.cabecalho{
    margin-top: 10px;
    margin-left: 10px;
}

.cabecalho span{
    color: #7F9393;
}
.cabecalho a{
    float: right;
    margin-left: 2px;
    margin-right: 10px;
}

#menu{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    
    background-color:#F8F8F8;
    border: solid 1px #DDDDDD;
}

#nav, #nav ul{
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-position:outside;
    position:relative;
    line-height:1.5em; 
    z-index: 400;
}

#nav{
    margin-top: 10px;
    margin-left: 10px;
}

#nav a{
    display:block;        
    color: #7F9393;
    text-decoration:none;
    padding-bottom: 3px;
    margin-left: 10px;
    
}

#nav a:hover{
        
    color:#000;
}

#nav li{
    float:left;
    position:relative;
        
}

#nav ul {
    position:absolute;
    display:none;
    width:12em;
    top:1.5em;
    background-color: #F8F8F8;
    
    
}

#nav li ul a{
    width:11em;
    height:auto;
    float:left;
    padding-top: 10px;
    border-bottom: solid 1px #DDDDDD;
}

#nav ul ul{
    top:auto;
}	

#nav li ul ul {
    left:12em;
    margin:0px 0 0 10px;
    
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
}

/*
    DIV DE MENSAGENS
*/
.success_msg{
    background: url("../images/true.png") no-repeat scroll 8px 5px #DFFFDF;
    border: solid 3px #9FCF9F;
    color: #005F00;
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 95%;
}

.warning_msg{
    background: url(../images/warning.png) 8px 5px no-repeat;
    background-color: #FFEBC1;
    border: solid 3px #FDBF3B;
    color: #A6750C;
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 95%;
}

.error_msg{
    background: url(../images/exclamation.png) 8px 50% no-repeat;
    background-color: #ffe3e3;
    border: solid 3px #dd0000;
    color: #880000;
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 95%;
}

/*
    Navegação superior
*/



.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
    float: right;
}

.nav > li > a {
    display: block;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.nav > li > a > img {
    max-width: none;
}

.nav > .pull-right {
    float: right;
}

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.nav li + .nav-header {
    margin-top: 9px;
}

.nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
    padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
    margin-right: 2px;
}

.nav-list .divider {
    width: 100%;
    height: 1px;
    margin: 9px 1px;
    margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.nav-tabs,
.nav-pills {
    zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
    display: table;
    line-height: 0;
    content: "";
}

.nav-tabs:after,
.nav-pills:after {
    clear: both;
}

.nav-tabs > li,
.nav-pills > li {
    float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
    color: #ffffff;
    background-color: #0088cc;
}

.nav-stacked > li {
    float: none;
}

.nav-stacked > li > a {
    margin-right: 0;
}

.nav-tabs.nav-stacked {
    border-bottom: 0;
}

.nav-tabs.nav-stacked > li > a {
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
}

.nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
    z-index: 2;
    border-color: #ddd;
}

.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px;
}

.nav-tabs .dropdown-menu {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.nav-pills .dropdown-menu {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #0088cc;
    border-bottom-color: #0088cc;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
    border-top-color: #005580;
    border-bottom-color: #005580;
}

/* move down carets for tabs */

.nav-tabs .dropdown-toggle .caret {
    margin-top: 8px;
}

.nav .active .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.nav-tabs .active .dropdown-toggle .caret {
    border-top-color: #555555;
    border-bottom-color: #555555;
}

.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
    cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.muted {
    color: #999999;
}

/*MultiSelectForm para o funcionamento de Programa Perfil*/
#selectFilial{
    width: 370px;
    height: 25px;
    clear: both;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
}
#selectFilial label{
    float: left;
    padding-left: 10px;
}
#selectFilial select{
    float: right;
    width: 280px;
    margin-left: 20px;
    margin-top: -5px;
}

#selectPerfil{
    width: 370px;
    height: 25px;
    clear: both;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
}
#selectPerfil label{
    float: left;
    padding-left: 10px;
}
#selectPerfil select{
    float: right;
    width: 280px;
    margin-right: 20px;
    margin-top: -5px;
}
.ProgramaPerfil{
    height: 425px;
    width:  735px;
    padding: 10px;
    clear: both;
}

#navigator-table{
    margin: 10px;
    margin-top: 50px;
    border: 2px;
    width: 50px;
    height: 130px;
    float: left;
    padding: 10px;
}
#navigator-table input{
    width: 50px;
}

#tableUm{
    width: 310px;
    float: left;
}
#tableDois{
    float: left;
    width: 310px;
}
#multiselect_programa_perfil{
    margin-top: 30px;
    width: 735px;
    float: left;   
}
/* Final CSS MultiSelectForm para o funcionamento de Programa Perfil*/

/* Cursos Editais Vaga*/
#curso-edital-vaga{
    width: 750px;
    padding-left: 30px;
}
#curso-edital-vaga input{
    width: 45px;
}


#requisitos textarea{

    height: 150px;
 
}
.numeric{
    padding-top: 280px;
    margin-left: 500px;  
}
.numeric table{
    width: 25px;
    margin-left: 177px;
    margin-top: -40px;
}
.numeric input{
    margin-left: 135px;
    margin-top: -40px;
}
/* Final Cursos Editais Vaga*/

.recuperar_senha pre{
    width: 320px;
    background-color: #ffffff;
}


/*tabs-forms
css Forms Abas
@author Orestes Paulo Di Domenico <orestes.d@unochapeco.edu.br>*/
/*
*/
#tabs-forms {
    text-align:justify;
    margin-bottom:5px;
    padding:10px 15px;
    border: 0px solid #CcC;
    border-radius:4px;

}

#tabs-forms {
    font:bold 12px arial, "Times New Roman", Times, serif;
    margin:0;
    padding:3px 0;

}

#tabs-forms li {
    list-style:none;
    margin-right:-2px;
    display:inline;
}

#tabs-forms li a {
    padding:3px 6px;
    border:1px solid #09F;
    background:#dde;
    color:#333;
    text-decoration:none;
}

#tabs-forms li a:hover {
    color: #235F67;
    border-color: #235F67;
}

#tabs-forms li a.ativo {
    background-color:#009;
}

#tabs-forms li:active {
    color: #235F67;
    border-color: #235F67;

}

#tabs-forms li a {
    color: #7F9393;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    background-color: #EEEEEE;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-style: groove;

    padding: 10px 4px 10px;
    display: block;
    width:125px;
    border-width: thin;
    border-color: #7F9393;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    display: inline-table;
    transition: background-color 0.5s;

}   

hr{
    margin: -6px;
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #e5e5e5;

}

.footer{
    width:100%;
    height:80px;
    margin: 0;
    text-align:center;

}

/* Paginator */

#paginator{
    margin-left: 10%;
    width: 70%;
}

.vagas_element{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    
}

.links_head{
    margin-left: 40%;
    margin-right: 48%;
    width: 400px;
}

.links_head a{
    margin-left: 10px;
    margin-right: 10px;
}




